# nginx.conf

server {
    listen 5000:5000;
    
    localhost;
    
    location ~ ^/./assets/(.) {
        alias /etc/nginx/html/assets/$1;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }

    # Optional: Configure gzip compression
    gzip on;
    gzip_types text/plain application/javascript text/css application/json application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;
    gzip_proxied any;
    gzip_min_length 256;
}
