h2{
    color: yellow;
}
.content{
    width: 270px;
    height: 380px;
    background-color: yellowgreen;
    margin-bottom: 20px;
}

h4{
    font-size: 12px;
    height: 30px;
    text-align: center;
}
.content-img{
    height: 80px;
}
.content-detail{
    background-color: red;
}